main{
  min-height: 4000px;
}

nav{
  background-color: #d6d6d6;
  width: 100%;
  position: fixed;
  padding: 20px 40px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  cursor: pointer;
}

.scroll nav{

}